extends ../includes/layout.pug

append resources
  title= title
  //- +initFb
  +shareThis
  meta(property="og:url"                content='http://' + path)
  meta(property="og:type"               content="article")
  meta(property="og:title"              content=title)
  meta(property="og:description"        content=description)
  meta(property="og:image"              content='http://clickwithit.us/media/' + thumbnail)
  meta(property="fb:app_id"             content="124609491488258")
append body
  +initFb
  .row
    .col-md-10.mx-auto
      .card.justify-content-center
        h2.card-header.text-center= title
        br
        .row
          .col-1
          .col-11
            h6 By 
              a(href='https://www.facebook.com/AngelitoJB') Angel Ruiz-Bates
              span.date.ml-1= date
        if (aauth)
          a.ml-auto.mr-2(href='/editor/' + id)
            button.btn.btn-primary Edit
        .card-body
          != body
          br
          .sharethis-inline-share-buttons.text-center
          br
          .text-center
            +fbComments
  script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
  script.
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-8413214542052984",
      enable_page_level_ads: true
    });
  script(async src="https://www.googletagmanager.com/gtag/js?id=UA-107735583-1")
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'UA-107735583-1');
